<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="widht-device-widht", initial-scale-1>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
  <title>The capybara phoenix</title>
</head>
<body>
    
<header class="header">
    <div class="container">
        <div class="header__inner">
           <div class="header__logo">Capybara Phoenix</div>

          <nav class="nav">
            <a class="nav__link" href="#fakt">Интересные Факты</a>
            <a class="nav__link" href="#mesto">Место Обитания</a>
          </nav>
      </div>
   </div>
</header>  
  
 <div class="intro">
   <div class="container">
      <div class="intro_inner">
        <h2 class="intro__suptitle">I Love Capybara</h2>
          <h1 class="intro__title">Capybara Present</h1>

          <a class="btn" href="https://smart-lab.ru/g/">Click on me</a>
       </div>
   </div>

   <div class="slider">
     <div class="container">
       <div class="slider__inner">
         <div class="slider__item active">
           <span class="slider__num">01</span>
           Capybara Phoenix
         </div>
         <div class="slider__item">
           <span class="slider__num">02</span>
           Интересные факты
         </div>
         <div class="slider__item">
           <span class="slider__num">03</span>
           Место обитания
         </div>
         </div>
       </div>
      </div>  
 </div>  


 <section class="section" id="fakt">
     <div class="container">
       
         <div class="section__header">
           <h3 class="section__suptitle">Интересные факты</h3>
           <h2 class="section__title">capybara</h2>
           <div class="section__text">
             <p>Капибары - это социальные животные, их часто можно увидеть в группах, которые могут состоять из 20 и более особей.

Капибары могут погружаться на глубину до 5 метров, они могут задерживать дыхание до 5 минут, их ноздри и уши закрываются во время погружения.

Капибары - это травоядные животные, их диета состоит из травы, коры деревьев и водных растений.

У капибар есть множество природных врагов, включая ягуаров, кайманов, анаконд и людей, которые охотятся на них из-за мяса и шкур.

В Бразилии капибара считается национальным символом, и она даже появилась на олимпийских играх в Рио-де-Жанейро в 2016 году.</p>
           </div>
         </div>


         <div class="about">
           <div class="about__item">
             <div class="about__img">
               <img src="static/css/images/about1.jpg" alt="">
             </div>
             <div class="about__text">superman</div>
           </div>
           <div class="about__item">
             <div class="about__img">
               <img src="static/css/images/about2.jpg" alt="">
             </div>
             <div class="about__text">yum yum watermelon</div>
           </div>
           <div class="about__item">
             <div class="about__img">
               <img src="static/css/images/about3.jpg" alt="">
             </div>
             <div class="about__text">Chmok Chmok</div>
           </div>
         </div>

       
     </div>
 </section>


<div class="statistics">
  <div class="container">
    <div class="stat">
      <div class="stat__item">
        <div class="stat__text">вес капибар</div>
        <div class="stat__count">34-63 кг</div>
      </div>
      <div class="stat__item">
        <div class="stat__text">вес капибар</div>
        <div class="stat__count">35-65,5 кг</div>
      </div>
      <div class="stat__item">
        <div class="stat__text">длина капибар</div>
        <div class="stat__count">1-1,35 м</div>
      </div>
      <div class="stat__item">
        <div class="stat__text">высота в хлопке</div>
        <div class="stat__count">50-60 см</div>
      </div>
    </div> 
  </div>
</div>
  


<section class="section__brazil" id="mesto">
  <div class="container">

    <div class="section__header2">
      <h4 class="section__suptitle2">Место обитания</h4>
      <h2 class="section__title2">capybara</h2>
      <div class="section__text2">
        <p>Капибара встречается по берегам разнообразных водоёмов в тропических и умеренных частях Центральной и Южной Америки

Отмечена в следующих странах: Аргентина, Боливия, Бразилия, Венесуэла, Гайана, Колумбия, Парагвай, Перу, Уругвай, Французская Гвиана.</p>
      </div>
    </div>
  </div>

 <div class="about2">
   <div class="about__item2">
     <div class="about__img2">
       <img src="static/css/images/about5.jpg" alt="">
      </div>
     </div>
   </div>
 </div>
  
</section>

  
  
</body>
</html>
